<p>auth works!</p>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            [(ngModel)]="person.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="person.password"
            [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary" (click)="Ingresar()" routerLink="/home">Submit</button>
</form>

<router-outlet></router-outlet>