<p>home works!</p>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{name}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item {{first ? 'active': ''}}" (click)="toggle('first')">1st</a></li>
    <li><a class="dropdown-item {{second ? 'active': ''}}" (click)="toggle('second')">2nd</a></li>
    <li><a class="dropdown-item {{third ? 'active': ''}}" (click)="toggle('third')">3rd</a></li>
  </ul>
</div>
  <h1>tabla</h1>
